:root {
  --palette-primary-main: #3f51b5;
  --palette-primary-light: #7986cb;
  --palette-primary-dark: #303f9f;
  --palette-primary-contrast-text: #fff;

  --palette-secondary-main: #f50057;
  --palette-secondary-light: #ff4081;
  --palette-secondary-dark: #c51162;
  --palette-secondary-contrast-text: #fff;

  --palette-error-main: #f44336;
  --palette-error-light: #e57373;
  --palette-error-dark: #d32f2f;
  --palette-error-contrast-text: #fff;

  --palette-warning-main: #ff9800;
  --palette-warning-light: #ffb74d;
  --palette-warning-dark: #f57c00;
  --palette-warning-contrast-text: #fff;

  --palette-info-main: #2196f3;
  --palette-info-light: #64b5f6;
  --palette-info-dark: #1976d2;
  --palette-info-contrast-text: #fff;

  --palette-success-main: #4caf50;
  --palette-success-light: #81c784;
  --palette-success-dark: #388e3c;
  --palette-success-contrast-text: #fff;

  --palette-text-primary: #212121;
  --palette-text-secondary: #757575;
  --palette-text-disabled: #9e9e9e;
  --palette-text-hint: #bdbdbd;

  --palette-divider: #bdbdbd;

  --palette-background: #fff;
  --palette-background-paper: #fff;

  --palette-action-active: rgba(0, 0, 0, 0.54);
  --palette-action-hover: rgba(0, 0, 0, 0.04);
  --palette-action-selected: rgba(0, 0, 0, 0.08);
  --palette-action-disabled-background: rgba(0, 0, 0, 0.12);
  --palette-action-disabled: rgba(0, 0, 0, 0.26);

  --palette-common-white: #fff;
  --palette-common-black: #000;

  --palette-grey-50: #fafafa;
  --palette-grey-100: #f5f5f5;
  --palette-grey-200: #eeeeee;
  --palette-grey-300: #e0e0e0;
  --palette-grey-400: #bdbdbd;
  --palette-grey-500: #9e9e9e;
  --palette-grey-600: #757575;
  --palette-grey-700: #616161;
  --palette-grey-800: #424242;
  --palette-grey-900: #212121;
  --palette-grey-1000: #000;
}