:root {
  /* todo: find out how colour schemes work */
  color-scheme: normal;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /*
    The font-synthesis CSS property controls which missing typefaces,
    bold, italic, or small-caps, may be synthesized by the browser.
  */
  font-synthesis: none;
  /*
    The text-rendering CSS property provides information to the
    rendering engine about what to optimize for when rendering text.
  */
  text-rendering: optimizeLegibility;

  /*
    The font-smooth CSS property controls the application of
    anti-aliasing when fonts are rendered.
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
